apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: promtail
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: default
  source:
    repoURL: https://grafana.github.io/helm-charts
    targetRevision: 6.16.6
    chart: promtail
    helm:
      valuesObject:
        config:
          clients:
            - url: http://loki-gateway.prometheus-system.svc.cluster.local/loki/api/v1/push
          snippets:
            scrapeConfigs: |
              # Generic Kubernetes Pods
              - job_name: kubernetes-pods
                kubernetes_sd_configs:
                  - role: pod
                pipeline_stages:
                  - cri: {}
                relabel_configs:
                  - source_labels:
                      - __meta_kubernetes_pod_controller_name
                    regex: ([0-9a-z-.]+?)(-[0-9a-f]{8,10})?
                    action: replace
                    target_label: __tmp_controller_name
                  - source_labels:
                      - __meta_kubernetes_pod_label_app_kubernetes_io_name
                      - __meta_kubernetes_pod_label_app
                      - __tmp_controller_name
                      - __meta_kubernetes_pod_name
                    regex: ^;*([^;]+)(;.*)?$
                    action: replace
                    target_label: app
                  - source_labels:
                      - __meta_kubernetes_pod_label_app_kubernetes_io_instance
                      - __meta_kubernetes_pod_label_instance
                    regex: ^;*([^;]+)(;.*)?$
                    action: replace
                    target_label: instance
                  - source_labels:
                      - __meta_kubernetes_pod_label_app_kubernetes_io_component
                      - __meta_kubernetes_pod_label_component
                    regex: ^;*([^;]+)(;.*)?$
                    action: replace
                    target_label: component
                  - action: replace
                    source_labels:
                    - __meta_kubernetes_pod_node_name
                    target_label: node_name
                  - action: replace
                    source_labels:
                    - __meta_kubernetes_namespace
                    target_label: namespace
                  - action: replace
                    replacement: $1
                    separator: /
                    source_labels:
                    - namespace
                    - app
                    target_label: job
                  - action: replace
                    source_labels:
                    - __meta_kubernetes_pod_name
                    target_label: pod
                  - action: replace
                    source_labels:
                    - __meta_kubernetes_pod_container_name
                    target_label: container
                  - action: replace
                    replacement: /var/log/pods/*$1/*.log
                    separator: /
                    source_labels:
                    - __meta_kubernetes_pod_uid
                    - __meta_kubernetes_pod_container_name
                    target_label: __path__
                  - action: replace
                    regex: true/(.*)
                    replacement: /var/log/pods/*$1/*.log
                    separator: /
                    source_labels:
                    - __meta_kubernetes_pod_annotationpresent_kubernetes_io_config_hash
                    - __meta_kubernetes_pod_annotation_kubernetes_io_config_hash
                    - __meta_kubernetes_pod_container_name
                    target_label: __path__
              
              # Immich-specific jobs with namespace filtering
              - job_name: immich-server
                kubernetes_sd_configs:
                  - role: pod
                    namespaces:
                      names:
                        - immich
                pipeline_stages:
                  - cri: {}
                relabel_configs:
                  - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_name]
                    regex: server
                    action: keep
                  - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_instance]
                    target_label: instance
                  - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_name]
                    target_label: app
                  - source_labels: [__meta_kubernetes_namespace]
                    target_label: namespace
                  - source_labels: [__meta_kubernetes_pod_name]
                    target_label: pod
                  - source_labels: [__meta_kubernetes_pod_container_name]
                    target_label: container
                  - action: replace
                    replacement: /var/log/pods/*$1/*.log
                    separator: /
                    source_labels:
                    - __meta_kubernetes_pod_uid
                    - __meta_kubernetes_pod_container_name
                    target_label: __path__
              
              - job_name: immich-valkey
                kubernetes_sd_configs:
                  - role: pod
                    namespaces:
                      names:
                        - immich
                pipeline_stages:
                  - cri: {}
                relabel_configs:
                  - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_name]
                    regex: valkey
                    action: keep
                  - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_instance]
                    target_label: instance
                  - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_name]
                    target_label: app
                  - source_labels: [__meta_kubernetes_namespace]
                    target_label: namespace
                  - source_labels: [__meta_kubernetes_pod_name]
                    target_label: pod
                  - source_labels: [__meta_kubernetes_pod_container_name]
                    target_label: container
                  - action: replace
                    replacement: /var/log/pods/*$1/*.log
                    separator: /
                    source_labels:
                    - __meta_kubernetes_pod_uid
                    - __meta_kubernetes_pod_container_name
                    target_label: __path__
              
              - job_name: immich-machine-learning
                kubernetes_sd_configs:
                  - role: pod
                    namespaces:
                      names:
                        - immich
                pipeline_stages:
                  - cri: {}
                relabel_configs:
                  - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_name]
                    regex: machine-learning
                    action: keep
                  - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_instance]
                    target_label: instance
                  - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_name]
                    target_label: app
                  - source_labels: [__meta_kubernetes_namespace]
                    target_label: namespace
                  - source_labels: [__meta_kubernetes_pod_name]
                    target_label: pod
                  - source_labels: [__meta_kubernetes_pod_container_name]
                    target_label: container
                  - action: replace
                    replacement: /var/log/pods/*$1/*.log
                    separator: /
                    source_labels:
                    - __meta_kubernetes_pod_uid
                    - __meta_kubernetes_pod_container_name
                    target_label: __path__
              
              - job_name: immich-database
                kubernetes_sd_configs:
                  - role: pod
                    namespaces:
                      names:
                        - immich
                pipeline_stages:
                  - cri: {}
                relabel_configs:
                  - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_name]
                    regex: database
                    action: keep
                  - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_instance]
                    target_label: instance
                  - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_name]
                    target_label: app
                  - source_labels: [__meta_kubernetes_namespace]
                    target_label: namespace
                  - source_labels: [__meta_kubernetes_pod_name]
                    target_label: pod
                  - source_labels: [__meta_kubernetes_pod_container_name]
                    target_label: container
                  - action: replace
                    replacement: /var/log/pods/*$1/*.log
                    separator: /
                    source_labels:
                    - __meta_kubernetes_pod_uid
                    - __meta_kubernetes_pod_container_name
                    target_label: __path__
  destination:
    server: https://kubernetes.default.svc
    namespace: prometheus-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
