apiVersion: v1
kind: Service
metadata:
  name: prometheus
  annotations:
    tailscale.com/proxy-group: ingress-proxies
    tailscale.com/hostname: prometheus
spec:
  ports:
    - name: http
      port: 80
      targetPort: 9090
  type: LoadBalancer
  loadBalancerClass: tailscale