apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: prometheus-system
spec:
  selector:
    app.kubernetes.io/name: prometheus
    operator.prometheus.io/name: prometheus-kube-prometheus-prometheus
  ports:
    - name: http
      port: 80
      targetPort: 9090
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: prometheus
  namespace: prometheus-system
  annotations:
    tailscale.com/proxy-group: ingress-proxies
    tailscale.com/hostname: prometheus
spec:
  ingressClassName: tailscale
  defaultBackend:
    service:
      name: prometheus
      port:
        number: 80
  tls:
    - hosts:
        - prometheus
